<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
      li{
        padding: 5px;
      }
      .row{
        padding-top: 20px;
      }
      .form-control{
        border-radius: 2rem !important;
      }
    </style>
    <title>Phiture</title>
  </head>
  <body>


    <div class='row'>
      <div class='col-11 mx-auto text-left'>
        <h5 Your Budget {{budget}} >
        <a class='' href='{% url "home" %}'> Go back </a> </h5>
      </div>
    </div>

    <div class='row'>
      <div class='col-5 mx-auto'>
        <h5 class='text-center'>Your current budget is {{budget}} $</h5>
          <h5 class='text-center'>{% if not object_list %}
          Be more generous. Put more money! {% else %} The average overall score of your players is {{ avg.overall__avg|floatformat }}
          {% endif %}</h5>
      </div>
    </div>


    <div class='row'>
      <div class='col'>
        <table class="table table-bordered">
        <thead>
          <tr>
            <th>That's me</th>
            <th>Name</th>
            <th>Age</th>
            <th>Nationality</th>
            <th>Club</th>
            <th>Score</th>
            <th>Position</th>
            <th>Value</th>
            <th>Value in $</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in object_list %} 
            <tr>
              <td> <img src='{{ obj.photo }}' alt='Broken link'></td>
              <td>{{ obj.name }}</td>
              <td>{{ obj.age }}</td>
              <td>{{ obj.nationality }}</td>
              <td>{{ obj.club }}</td>
              <td>{{ obj.overall }}</td>
              <td>{{ obj.position }}</td>
              <td>{{ obj.value }}</td>
              <td>{{ obj.value_int }}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0d5fe028d4.js" crossorigin="anonymous"></script>
  </body>
</html>


